<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yycg.base.dao.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="yycg.base.pojo.po.Role" >
    <id column="ROLEID" property="roleid" jdbcType="VARCHAR" />
    <result column="ROLENAME" property="rolename" jdbcType="VARCHAR" />
    <result column="ROLEDES" property="roledes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ROLEID, ROLENAME, ROLEDES
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="yycg.base.pojo.po.RoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from YYCG.ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from YYCG.ROLE
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from YYCG.ROLE
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="yycg.base.pojo.po.RoleExample" >
    delete from YYCG.ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="yycg.base.pojo.po.Role" >
    insert into YYCG.ROLE (ROLEID, ROLENAME, ROLEDES
      )
    values (#{roleid,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, #{roledes,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="yycg.base.pojo.po.Role" >
    insert into YYCG.ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="rolename != null" >
        ROLENAME,
      </if>
      <if test="roledes != null" >
        ROLEDES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="roledes != null" >
        #{roledes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="yycg.base.pojo.po.RoleExample" resultType="java.lang.Integer" >
    select count(*) from YYCG.ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update YYCG.ROLE
    <set >
      <if test="record.roleid != null" >
        ROLEID = #{record.roleid,jdbcType=VARCHAR},
      </if>
      <if test="record.rolename != null" >
        ROLENAME = #{record.rolename,jdbcType=VARCHAR},
      </if>
      <if test="record.roledes != null" >
        ROLEDES = #{record.roledes,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update YYCG.ROLE
    set ROLEID = #{record.roleid,jdbcType=VARCHAR},
      ROLENAME = #{record.rolename,jdbcType=VARCHAR},
      ROLEDES = #{record.roledes,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="yycg.base.pojo.po.Role" >
    update YYCG.ROLE
    <set >
      <if test="rolename != null" >
        ROLENAME = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="roledes != null" >
        ROLEDES = #{roledes,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="yycg.base.pojo.po.Role" >
    update YYCG.ROLE
    set ROLENAME = #{rolename,jdbcType=VARCHAR},
      ROLEDES = #{roledes,jdbcType=VARCHAR}
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </update>
</mapper>